##### Now we know which model to apply for our analysis. Hence, we actually start the model evaluation and refinement by testing and training it over and over again

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('module_5_auto.csv')

In [3]:
df.head(2)

,Unnamed: 0,Unnamed: 0.1,symboling,normalized-losses,make,aspiration,num-of-doors,body-style,drive-wheels,engine-location,...,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,city-L/100km,horsepower-binned,diesel,gas
0,0,0,3,122,alfa-romero,std,two,convertible,rwd,front,...,9.0,111.0,5000.0,21,27,13495.0,11.190476,Medium,0,1
1,1,1,3,122,alfa-romero,std,two,convertible,rwd,front,...,9.0,111.0,5000.0,21,27,16500.0,11.190476,Medium,0,1

In [4]:
df=df._get_numeric_data()
#let us take only the numeric data

In [5]:
df.head()

,Unnamed: 0,Unnamed: 0.1,symboling,normalized-losses,wheel-base,length,width,height,curb-weight,engine-size,...,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,city-L/100km,diesel,gas
0,0,0,3,122,88.6,0.811148,0.890278,48.8,2548,130,...,2.68,9.0,111.0,5000.0,21,27,13495.0,11.190476,0,1
1,1,1,3,122,88.6,0.811148,0.890278,48.8,2548,130,...,2.68,9.0,111.0,5000.0,21,27,16500.0,11.190476,0,1
2,2,2,1,122,94.5,0.822681,0.909722,52.4,2823,152,...,3.47,9.0,154.0,5000.0,19,26,16500.0,12.368421,0,1
3,3,3,2,164,99.8,0.848630,0.919444,54.3,2337,109,...,3.40,10.0,102.0,5500.0,24,30,13950.0,9.791667,0,1
4,4,4,2,164,99.4,0.848630,0.922222,54.3,2824,136,...,3.40,8.0,115.0,5500.0,18,22,17450.0,13.055556,0,1

In [6]:
#The libraries we will be using for plotting

from ipywidgets import interact, interactive, fixed, interact_manual

In [8]:
#the functions for plotting are

def DistributionPlot(RedFunction, BlueFunction, RedName, BlueName, Title):
    width = 12
    height = 10
    plt.figure(figsize=(width, height))

    ax1 = sns.distplot(RedFunction, hist=False, color="r", label=RedName)
    ax2 = sns.distplot(BlueFunction, hist=False, color="b", label=BlueName, ax=ax1)

    plt.title(Title)
    plt.xlabel('Price (in dollars)')
    plt.ylabel('Proportion of Cars')

    plt.show()
    plt.close()

def PollyPlot(xtrain, xtest, y_train, y_test, lr,poly_transform):
    width = 12
    height = 10
    plt.figure(figsize=(width, height))
    
    
    #training data 
    #testing data 
    # lr:  linear regression object 
    #poly_transform:  polynomial transformation object 
 
    xmax=max([xtrain.values.max(), xtest.values.max()])

    xmin=min([xtrain.values.min(), xtest.values.min()])

    x=np.arange(xmin, xmax, 0.1)


    plt.plot(xtrain, y_train, 'ro', label='Training Data')
    plt.plot(xtest, y_test, 'go', label='Test Data')
    plt.plot(x, lr.predict(poly_transform.fit_transform(x.reshape(-1, 1))), label='Predicted Function')
    plt.ylim([-10000, 60000])
    plt.ylabel('Price')
    plt.legend()

<h2 id="ref1">Part 1: Training and Testing</h2>

<p>An important step in testing your model is to split your data into training and testing data. We will place the target data <b>price</b> in a separate dataframe <b>y_data</b>:</p>

In [9]:
y_data = df['price']

In [10]:
y_data

0      13495.0
1      16500.0
2      16500.0
3      13950.0
4      17450.0
        ...
196    16845.0
197    19045.0
198    21485.0
199    22470.0
200    22625.0
Name: price, Length: 201, dtype: float64

In [13]:
x_data = df.drop('price',axis=1)
#we drop the price data in dataframe x_data. Hence the
#label is removed and the dataframe has only the features

In [12]:
x_data

,Unnamed: 0,Unnamed: 0.1,symboling,normalized-losses,wheel-base,length,width,height,curb-weight,engine-size,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,city-L/100km,diesel,gas
0,0,0,3,122,88.6,0.811148,0.890278,48.8,2548,130,3.47,2.68,9.0,111.0,5000.0,21,27,11.190476,0,1
1,1,1,3,122,88.6,0.811148,0.890278,48.8,2548,130,3.47,2.68,9.0,111.0,5000.0,21,27,11.190476,0,1
2,2,2,1,122,94.5,0.822681,0.909722,52.4,2823,152,2.68,3.47,9.0,154.0,5000.0,19,26,12.368421,0,1
3,3,3,2,164,99.8,0.848630,0.919444,54.3,2337,109,3.19,3.40,10.0,102.0,5500.0,24,30,9.791667,0,1
4,4,4,2,164,99.4,0.848630,0.922222,54.3,2824,136,3.19,3.40,8.0,115.0,5500.0,18,22,13.055556,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,196,196,-1,95,109.1,0.907256,0.956944,55.5,2952,141,3.78,3.15,9.5,114.0,5400.0,23,28,10.217391,0,1
197,197,197,-1,95,109.1,0.907256,0.955556,55.5,3049,141,3.78,3.15,8.7,160.0,5300.0,19,25,12.368421,0,1
198,198,198,-1,95,109.1,0.907256,0.956944,55.5,3012,173,3.58,2.87,8.8,134.0,5500.0,18,23,13.055556,0,1
199,199,199,-1,95,109.1,0.907256,0.956944,55.5,3217,145,3.01,3.40,23.0,106.0,4800.0,26,27,9.038462,1,0
200,200,200,-1,95,109.1,0.907256,0.956944,55.5,3062,141,3.78,3.15,9.5,114.0,5400.0,19,25,12.368421,0,1

In [14]:
#Now we have to split our data into training and testing data

from sklearn.model_selection import train_test_split


x_train, x_test, y_train, y_test = train_test_split(x_data, y_data, test_size=0.10, random_state=1)


print("number of test samples :", x_test.shape[0]) #this tells us the number of rows, hence the sample size
print("number of training samples:",x_train.shape[0])

number of test samples : 21
number of training samples: 180

The <b>test_size</b> parameter sets the proportion of data that is split into the testing set. In the above, the testing set is 10% of the total dataset.

In [19]:
x_test.head()

,Unnamed: 0,Unnamed: 0.1,symboling,normalized-losses,wheel-base,length,width,height,curb-weight,engine-size,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,city-L/100km,diesel,gas
97,97,97,0,106,97.2,0.833253,0.905556,54.7,2302,120,3.33,3.47,8.5,97.0,5200.0,27,34,8.703704,0,1
117,117,117,1,154,93.7,0.755887,0.886111,50.6,1967,90,2.97,3.23,9.4,68.0,5500.0,31,38,7.580645,0,1
59,59,59,0,115,98.8,0.854397,0.923611,55.5,2410,122,3.39,3.39,8.6,84.0,4800.0,26,32,9.038462,0,1
35,35,35,0,78,96.5,0.754926,0.887500,58.3,2024,92,2.92,3.41,9.2,76.0,6000.0,30,34,7.833333,0,1
165,165,165,2,134,98.4,0.846708,0.911111,52.0,2551,146,3.62,3.50,9.3,116.0,4800.0,24,30,9.791667,0,1

In [20]:
#let us import the linear regression module

from sklearn.linear_model import LinearRegression

In [21]:
lre = LinearRegression()

In [24]:
lre.fit(x_train[['horsepower']],y_train)
#we fit the model using the 'horsepower' feature

LinearRegression()

In [25]:
#calculate the R-squared on the test data

lre.score(x_test[['horsepower']],y_test)

0.36358755750788263

In [27]:
lre.score(x_train[['horsepower']],y_train)

0.6619724197515104

We can see the R^2 is much smaller using the test data compared to the training data.

Sometimes you do not have sufficient testing data; as a result, you may want to perform cross-validation. Let's go over several methods that you can use for cross-validation.

<h2>Cross-Validation Score</h2>

In [29]:
from sklearn.model_selection import cross_val_score

We input the object, the feature ("horsepower"), and the target data (y_data). The parameter 'cv' determines the number of folds. In this case, it is 4.

In [31]:
Rcross = cross_val_score(lre, x_data[['horsepower']], y_data, cv=4)